{% extends "layout.html" %}

{% block body %}

<div class="section">
    <h2>Ciaoooo</h2>
    <p>
        Ciao matteee! Come vedi ho iniziato a fare cose per il tuo blog. 
        Per così poca roba ci sono stato su quasi tutta mattina di oggi 😄 
        (A quanto pare stamattina non sapevo come si mette su un webserver ebbo... 
        probabilmente non lo so nemmeno ora, ma almeno 'sto sito funziona 
        e tu riesci a leggere sta roba senza che ti dia errori strani!)
    </p>
    <p>
        Un esempio di pagina di errore è tipo <a href="/tipoquesto">questo</a> e ne vengono a valanga di tipo mooolto diversi anche :/
    </p>
</div>
<div class="section">
    <!-- empty -->
</div>
<div class="section">
    <h2>Cose da dirti</h2>
    <dl>
        <dd>
            Ti volevo chiedere il che modo vorresti personalizzarlo il sito? Tipo: Vuoi delle pagine di presentazione su te stesso, 
            sezioni articoli che vuoi fare, sezioni recensioni di libri e film?
        </dd>
        <dd>
            Poi sarebbe anche da decidere la grafica del sito, giusto per farlo carino carino (per la grafica attuale ho fatto copia-incolla)
        </dd>
        <dd>
            Nei prossimi giorni io provo a pensare a come creare le cose necessarie per pubblicare articoli...
        </dd>
        <dd>
            Intanto dimmi cosa ne pensi delle cose che ci sono già
        </dd>
    </dl>
    
</div>
<p class="right">
    <em>Angelo :)</em>
</p>
{% endblock %}